{% extends "base.html" %}

{% block title %}
Home page!
{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<h1>Главная страница! 🏡</h1>

<div class="description">
    <h2>Определение качества вина на основе химических данных</h2>

    <p>
        В основе приложения — модель, обученная на датасете оценок красного вина
        и его химического состава от производителя Vinho Verde.
    </p>

    <p>
        Модель может выдавать:
    </p>
    <ul class="features-list">
        <li>Оценку качества от 0 до 10 (регрессия)</li>
        <li>Классификацию: "Отлично", "Хорошо", "Плохо"</li>
    </ul>

    <h3>Необходимые признаки для ввода:</h3>
    <ul class="params-list">
        <li>Fixed acidity (фиксированная кислотность)</li>
        <li>Volatile acidity (летучая кислотность)</li>
        <li>Citric acid (лимонная кислота)</li>
        <li>Residual sugar (остаточный сахар)</li>
        <li>Chlorides (хлориды)</li>
        <li>Free sulfur dioxide (свободный диоксид серы)</li>
        <li>Total sulfur dioxide (суммарный диоксид серы)</li>
        <li>Density (плотность)</li>
        <li>pH</li>
        <li>Sulphates (сульфаты)</li>
        <li>Alcohol (спирт)</li>
    </ul>
</div>

{% if user %}
<h2>Вы авторизованы 😊</h2>
<p>
    Привет, {{ user }}! Теперь можно пополнить баланс. <a href="/balance">баланс</a>!
</p>
{% else %}
<h2>Вы не авторизованы 😔</h2>
<p>
    Пожалуйста, <a href="/auth/login" class="btn">войдите</a>
    или <a href="/auth/signup" class="btn">зарегистрируйтесь</a>.
</p>
{% endif %}

<hr>

{% endblock %}