{% extends "base.html" %}

{% block title %}
Home page!
{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<h1>Главная страница! 🏡</h1>

<div class="description">
    <h2>Сервис генерации изображений для дизайнеров, соответствующие корпоративным гайдлайны, и бренд-бук</h2>

    <p>
        <li> Дизайнер формулирует текстовое описание требуемого изображения.</li>
        <li> Сервис автоматически улучшает это описание (используя корпоративные гайдлайны, принципы визкома и
            бренд-бук),
            добавляя/уточняя детали.</li>
        <li> Улучшенный запрос конвертируется в промт для модели генерации изображений (Generative AI).</li>
        <li> Итоговое сгенерированное изображение отправляется обратно дизайнеру для использования.</li>
    </p>

</div>

{% if user %}
<h2>Вы авторизованы 😊</h2>
<p>
    Привет, {{ user }}! Теперь можно пополнить баланс. <a href="/balance">баланс</a>!
</p>
{% else %}
<h2>Вы не авторизованы 😔</h2>
<p>
    Пожалуйста, <a href="/auth/login" class="btn">войдите</a>
    или <a href="/auth/signup" class="btn">зарегистрируйтесь</a>.
</p>
{% endif %}

<hr>

{% endblock %}